* {
  padding: 0;
  margin: 0;
}
:root {
  --bg-color: #fdfcf7; 
  --primary-color: #4a6641; 
  --secondary-color: #9a4d2f; 
  --text-color: #333; 
  --accent-color: #9abbb9; 
  --button-bg: #9abbb9; 
  --button-text: #333; 
    
    /* Status Colors */
    --danger: #dc3545; 
    --success: #28a745; 
    --warning: #ffc107; 
    
    /* Fonts */
    --font-main: 'Nunito', sans-serif; 
    --font-display: 'Montserrat', sans-serif;
    
    /* Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.15);
    
    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
  }
  
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .app--container {
    padding-top: 1rem;
    background-image: url('./src/assets/ArtCampBG.jpeg');
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
  }

